<configuration>
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>0.0.0.0:5044</destination>
        <encoder>
            <pattern>
                {
                "timestamp": "%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ}",
                "level": "%level",
                "thread": "%thread",
                "logger": "%logger",
                "message": "%message",
                "context": "%contextName"
                }
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="LOGSTASH" />
    </root>
</configuration>